.event-card {
  align-items: center;
  backdrop-filter: blur(0px);
  background: rgba(65, 108, 118, 0.07);
  border-radius: 1rem;
  border: 0px solid rgba(171, 170, 135, 0.07);
  box-shadow: 0px 0px 0px 0px transparent;
  display: flex;
  gap: 1.5rem;
  height: 24.5rem;
  max-width: 52.5rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.event-card:hover {
  border: 3px solid var(--secondary-1295);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 0.2712px 0px var(--secondary-1295),
    0px 0px 0.5424px 0px var(--secondary-1295),
    0px 0px 1.8984px 0px var(--secondary-1295),
    0px 0px 3.7968px 0px var(--secondary-1295),
    0px 0px 6.5088px 0px var(--secondary-1295),
    0px 0px 11.3904px 0px var(--secondary-1295);
  transform: scale(1.05);
}

.event-card__content {
  display: flex;
  width: 32.6875rem;
  height: 24rem;
  padding: 2rem 0rem 2rem 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.event-card__content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.badge-stack {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.event-card__content__text > h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--neutral-98);
  text-overflow: ellipsis;
  font-family: var(--headline-large-font-family);
  font-size: var(--headline-large-font-size);
  font-style: var(--headline-large-font-style);
  font-weight: var(--headline-large-font-weight);
  line-height: var(--headline-large-line-height);
}

.event-card__content__text > .date {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--secondary-1295);
  text-overflow: ellipsis;
  font-family: var(--title-small-font-family);
  font-size: var(--title-small-font-size);
  font-style: var(--title-small-font-style);
  font-weight: var(--title-small-font-weight);
  line-height: var(--title-small-line-height);
  letter-spacing: var(--title-small-letter-spacing);
}

.event-card__content__text > .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  align-self: stretch;
  overflow: hidden;
  color: var(--neutral-98);
  text-overflow: ellipsis;

  /* Body/Large */
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  line-height: var(--body-large-line-height);
  letter-spacing: var(--body-large-letter-spacing);
}

.event-card__content__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.event-card__content__actions > .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.event-card__image {
  display: flex;
  width: 277px;
  align-self: stretch;
}

.event-card__image-01,
.event-card__image-02,
.event-card__image-03,
.event-card__image-04,
.event-card__image-05,
.event-card__image-06,
.event-card__image-07,
.event-card__image-08,
.event-card__image-09,
.event-card__image-10 {
  flex: 1 0 0;
  align-self: stretch;
}

.event-card__image-01 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_01.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-02 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_02.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-03 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_03.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-04 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_04.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-05 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_05.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-06 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_06.jpeg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-07 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_07.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-08 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_08.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-09 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_09.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card__image-10 {
  background: linear-gradient(
      180deg,
      rgba(171, 170, 135, 0.21) 0%,
      rgba(65, 108, 118, 0.21) 100%
    ),
    url("../../public/Images/Events/event_10.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
