.featured-events {
  display: flex;
  overflow-x: auto;
  align-items: center;
  gap: var(--gutter-mobile);
  width: 100%;
}

.featured-events::-webkit-scrollbar {
  display: none;
}

/* breakpoints (min-width) used throughout the website
*tablet: 768px;
*desktop: 992px;
*desktop-large: 1200px;
*/

@media only screen and (min-width: 768px) {
  .featured-events {
    gap: var(--gutter-tablet);
  }
}
@media only screen and (min-width: 992px) {
  .featured-events {
    gap: var(--gutter-desktop);
  }
}
@media only screen and (min-width: 1200px) {
  .featured-events {
    gap: var(--gutter-desktop-large);
  }
}
