.footer__content {
  display: flex;
  padding: var(--margin-mobile) 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-mobile);
  align-self: stretch;
  backdrop-filter: blur(21px);
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gutter-mobile);
}

.footer__content > svg {
  cursor: pointer;
}

/* breakpoints (min-width) used throughout the website
*tablet: 768px;
*desktop: 992px;
*desktop-large: 1200px;
*/

@media only screen and (min-width: 768px) {
  .footer__content {
    padding: var(--margin-tablet) 0rem;
    gap: var(--margin-tablet);
  }

  .footer__links {
    gap: var(--gutter-tablet);
  }
}
@media only screen and (min-width: 992px) {
  .footer__content {
    padding: var(--margin-desktop) 0rem;
    gap: var(--margin-desktop);
  }

  .footer__links {
    flex-direction: row;
    gap: var(--gutter-desktop);
  }
}
@media only screen and (min-width: 1200px) {
  .footer__content {
    padding: var(--margin-desktop-large) 0rem;
    gap: var(--margin-desktop-large);
  }

  .footer__links {
    gap: var(--gutter-desktop-large);
  }
}
