.hero-container {
  display: flex;
  width: 100%;
  padding: 25rem 0rem 6.25rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Background Images*/

.hero-container--bg-01 {
  background: linear-gradient(180deg, rgba(12, 20, 22, 0.17) 0%, #141519 100%),
    linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.5) 0%,
      rgba(20, 21, 25, 0.5) 100%
    ),
    url("../../public/Images/Backgrounds/bg-01.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container--bg-02 {
  background: linear-gradient(180deg, rgba(12, 20, 22, 0.17) 0%, #141519 100%),
    linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.5) 0%,
      rgba(20, 21, 25, 0.5) 100%
    ),
    url("../../public/Images/Backgrounds/bg-02.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container--bg-03 {
  background: linear-gradient(180deg, rgba(12, 20, 22, 0.17) 0%, #141519 100%),
    linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.5) 0%,
      rgba(20, 21, 25, 0.5) 100%
    ),
    url("../../public/Images/Backgrounds/bg-03.png"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container--bg-04 {
  background: linear-gradient(180deg, rgba(12, 20, 22, 0.17) 0%, #141519 100%),
    linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.5) 0%,
      rgba(20, 21, 25, 0.5) 100%
    ),
    url("../../public/Images/Backgrounds/bg-04.png"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container--bg-05 {
  background: linear-gradient(180deg, rgba(12, 20, 22, 0.17) 0%, #141519 100%),
    linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.5) 0%,
      rgba(20, 21, 25, 0.5) 100%
    ),
    url("../../public/Images/Backgrounds/bg-05.png"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container--bg-06 {
  background: linear-gradient(180deg, rgba(12, 20, 22, 0.17) 0%, #141519 100%),
    linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.5) 0%,
      rgba(20, 21, 25, 0.5) 100%
    ),
    url("../../public/Images/Backgrounds/bg-06.png"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container--bg-07 {
  background: linear-gradient(180deg, rgba(12, 20, 22, 0.17) 0%, #141519 100%),
    linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.5) 0%,
      rgba(20, 21, 25, 0.5) 100%
    ),
    url("../../public/Images/Backgrounds/bg-07.png"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 46.4375rem;
}

.hero__text--heading {
  color: var(--neutral-99);
  font-family: var(--display-large-font-family);
  font-size: var(--display-large-font-size);
  font-style: var(--display-large-font-style);
  font-weight: var(--display-large-font-weight);
  letter-spacing: var(--display-large-letter-spacing);
  line-height: var(--display-large-line-height);
}

.hero__text--body {
  align-self: stretch;
  color: var(--neutral-98);
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  line-height: var(--body-large-line-height);
  letter-spacing: var(--body-large-letter-spacing);
}

.hero__cta {
  display: flex;
  padding: 2.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

@media screen and (max-width: 1315px) {
  .hero__text--heading {
    font-family: var(--display-medium-font-family);
    font-size: var(--display-medium-font-size);
    font-style: var(--display-medium-font-style);
    font-weight: var(--display-medium-font-weight);
    letter-spacing: var(--display-medium-letter-spacing);
    line-height: var(--display-medium-line-height);
  }
}

@media screen and (max-width: 1104px) {
  .hero-container {
    padding: 2.5rem 0rem 1rem 0rem;
  }
  .hero__text {
    max-width: 60%;
  }
  .hero__text--heading {
    font-family: var(--display-small-font-family);
    font-size: var(--display-small-font-size);
    font-style: var(--display-small-font-style);
    font-weight: var(--display-small-font-weight);
    letter-spacing: var(--display-small-letter-spacing);
    line-height: var(--display-small-line-height);
  }
  .hero__text--body {
    font-family: var(--body-medium-font-family);
    font-size: var(--body-medium-font-size);
    font-style: var(--body-medium-font-style);
    font-weight: var(--body-medium-font-weight);
    line-height: var(--body-medium-line-height);
    letter-spacing: var(--body-medium-letter-spacing);
  }

  .hero__cta {
    padding: 2.5rem 0rem;
  }
}
