.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gutter-mobile) var(--margin-mobile);
  width: 100%;
  background: var(--surface-02);
  backdrop-filter: blur(20px);
  box-shadow: var(--elevation-02);
  position: fixed;
  z-index: 999;
}

.nav-menu {
  display: none;
  list-style: none;
  gap: var(--gutter-mobile);
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-mobile);
  padding: var(--margin-mobile) var(--margin-mobile) var(--margin-2x-mobile)
    var(--margin-mobile);
}

.inactive {
  display: none;
}

/* breakpoints (min-width) used throughout the website
*tablet: 768px;
*desktop: 992px;
*desktop-large: 1200px;
*/

@media only screen and (min-width: 768px) {
  .navbar {
    padding: var(--gutter-tablet) var(--margin-tablet);
  }

  .nav-menu {
    gap: var(--gutter-tablet);
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: var(--gutter-desktop) var(--margin-desktop);
  }

  .nav-menu {
    display: flex;
    gap: var(--gutter-desktop);
  }

  .menu-icon {
    display: none;
  }

  .page-title {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    padding: var(--gutter-desktop-large) var(--margin-desktop-large);
  }

  .nav-menu {
    gap: var(--gutter-desktop-large);
  }
}

.sign-in {
  width: 100%;
  height: 100%;
}
