/*
*NEW STYLES 👇
*/

:root {
  /* border radius*/
  --border-radius-none: 0px;
  --border-radius-base: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 1.5rem;
  --border-radius-full: 100%;

  /* spacing */
  --margin-mobile: 0.75rem;
  --margin-tablet: 2rem;
  --margin-desktop: 4rem;
  --margin-desktop-large: 4rem;

  --margin-2x-mobile: 5rem;
  --margin-2x-tablet: 5rem;
  --margin-2x-desktop: 8rem;
  --margin-2x-desktop-large: 8rem;

  --gutter-mobile: 0.625rem;
  --gutter-tablet: 1.25rem;
  --gutter-desktop: 1.5rem;
  --gutter-desktop-large: 1.5rem;

  /* colors */
  --neutral-900: #131515;
  --neutral-800: #1d201f;
  --neutral-700: #242827;
  --neutral-600: #303634;
  --neutral-500: #3a403f;
  --neutral-400: #a9b1af;
  --neutral-300: #c9cfcd;
  --neutral-200: #dfe2e1;
  --neutral-100: #eaeceb;
  --neutral-50: #f4f5f5;

  --primary-01-900: #1d2f2f;
  --primary-01-800: #273f3f;
  --primary-01-700: #467272;
  --primary-01-600: #558b8b;
  --primary-01-500: #67a2a2;
  --primary-01-400: #8db9b9;
  --primary-01-300: #9ac1c1;
  --primary-01-200: #cce0e0;
  --primary-01-100: #d9e8e8;
  --primary-01-50: #f3f7f7;

  --primary-02-900: #1d2729;
  --primary-02-800: #324548;
  --primary-02-700: #445b5f;
  --primary-02-600: #557277;
  --primary-02-500: #66888f;
  --primary-02-400: #709299;
  --primary-02-300: #88a5aa;
  --primary-02-200: #a0b7bb;
  --primary-02-100: #c3d2d5;
  --primary-02-50: #dbe4e6;

  --primary-03-900: #1c211c;
  --primary-03-800: #394139;
  --primary-03-700: #4c574c;
  --primary-03-600: #535f53;
  --primary-03-500: #687868;
  --primary-03-400: #879787;
  --primary-03-300: #9daa9d;
  --primary-03-200: #d3d9d3;
  --primary-03-100: #e9ece9;
  --primary-03-50: #f4f6f4;

  --primary-04-900: #171711;
  --primary-04-800: #3b3a2b;
  --primary-04-700: #464534;
  --primary-04-600: #6a694e;
  --primary-04-500: #81805f;
  --primary-04-400: #979672;
  --primary-04-300: #a6a587;
  --primary-04-200: #c2c2ad;
  --primary-04-100: #d4d3c4;
  --primary-04-50: #e5e5dc;

  /* gradients */
  --gradient-text-neutral: linear-gradient(
    243deg,
    #dfe2e1 1.32%,
    #a9b1af 99.13%
  );
  --gradient-text-primary-01: linear-gradient(
    243deg,
    #cce0e0 1.32%,
    #67a2a2 99.13%
  );
  --gradient-text-primary-02: linear-gradient(
    243deg,
    #a0b7bb 1.32%,
    #66888f 99.13%
  );
  --gradient-text-primary-03: linear-gradient(
    243deg,
    #d3d9d3 1.32%,
    #687868 99.13%
  );
  --gradient-text-primary-04: linear-gradient(
    243deg,
    #c2c2ad 42.58%,
    #81805f 58.88%,
    #81805f 91.08%
  );
  --gradient-background-neutral: linear-gradient(
    243deg,
    #242827 1.32%,
    #131515 99.13%
  );
  --gradient-background-primary-01: linear-gradient(
    243deg,
    #416c76 1.32%,
    #1d2f2f 99.13%
  );
  --gradient-background-primary-02: linear-gradient(
    243deg,
    #66888f 1.32%,
    #1d2729 99.13%
  );
  --gradient-background-primary-03: linear-gradient(
    243deg,
    #687868 1.32%,
    #1c211c 99.13%
  );
  --gradient-background-primary-04: linear-gradient(
    243deg,
    #3b3a2b 1.32%,
    #171711 99.13%
  );

  /*surface (backgrounds): paired with elevations or focus*/
  --surface-00: linear-gradient(
    180deg,
    rgba(169, 177, 175, 0) 0%,
    rgba(169, 177, 175, 0.3) 100%
  );
  --surface-01: linear-gradient(
    180deg,
    rgba(19, 21, 21, 0.3) 0%,
    rgba(19, 21, 21, 0.1) 100%
  );
  --surface-02: linear-gradient(
    180deg,
    rgba(29, 32, 31, 0.3) 0%,
    rgba(29, 32, 31, 0.1) 100%
  );
  --surface-03: linear-gradient(
    180deg,
    #242827 0%,
    rgba(36, 40, 39, 0.3) 0.01%,
    rgba(36, 40, 39, 0.1) 100%
  );
  --surface-04: linear-gradient(
    180deg,
    rgba(48, 54, 52, 0.3) 0%,
    rgba(48, 54, 52, 0.1) 100%
  );
  --surface-05: linear-gradient(
    180deg,
    rgba(58, 64, 63, 0.3) 0%,
    rgba(58, 64, 63, 0.1) 100%
  );

  /* elevation (box-shadows): use in combination with surface */
  --elevation-01: 0px 1px 2px 0px rgba(20, 21, 25, 0.3),
    0px 1px 4px 1px rgba(20, 21, 25, 0.15);
  --elevation-02: 0px 1px 2px 0px rgba(20, 21, 25, 0.3),
    0px 2px 6px 2px rgba(20, 21, 25, 0.15);
  --elevation-03: 0px 1px 3px 0px rgba(20, 21, 25, 0.3),
    0px 4px 8px 3px rgba(20, 21, 25, 0.15);
  --elevation-04: 0px 2px 3px 0px rgba(20, 21, 25, 0.3),
    0px 6px 10px 4px rgba(20, 21, 25, 0.15);
  --elevation-05: 0px 4px 4px 0px rgba(20, 21, 25, 0.3),
    0px 8px 12px 6px rgba(20, 21, 25, 0.15);

  /* focus (box-shadows): use for focus state of interactive elements */
  --focus-00: 0px 0px 0.271px 0px #c9cfcd, 0px 0px 0.542px 0px #c9cfcd,
    0px 0px 1.898px 0px #c9cfcd, 0px 0px 3.797px 0px #c9cfcd,
    0px 0px 6.509px 0px #c9cfcd, 0px 0px 11.39px 0px #c9cfcd;
  --focus-01: 0px 0px 0.271px 0px #9ac1c1, 0px 0px 0.542px 0px #9ac1c1,
    0px 0px 1.898px 0px #9ac1c1, 0px 0px 3.797px 0px #9ac1c1,
    0px 0px 6.509px 0px #9ac1c1, 0px 0px 11.39px 0px #9ac1c1;
  --focus-02: 0px 0px 0.271px 0px #88a5aa, 0px 0px 0.542px 0px #88a5aa,
    0px 0px 1.898px 0px #88a5aa, 0px 0px 3.797px 0px #88a5aa,
    0px 0px 6.509px 0px #88a5aa, 0px 0px 11.39px 0px #88a5aa;
  --focus-03: 0px 0px 0.271px 0px #9daa9d, 0px 0px 0.542px 0px #9daa9d,
    0px 0px 1.898px 0px #9daa9d, 0px 0px 3.797px 0px #9daa9d,
    0px 0px 6.509px 0px #9daa9d, 0px 0px 11.39px 0px #9daa9d;
  --focus-04: 0px 0px 0.271px 0px #a6a587, 0px 0px 0.542px 0px #a6a587,
    0px 0px 1.898px 0px #a6a587, 0px 0px 3.797px 0px #a6a587,
    0px 0px 6.509px 0px #a6a587, 0px 0px 11.39px 0px #a6a587;

  /* typography */

  /* label global */
  --label-font-family: "Syne", Helvetica;
  --label-font-style: normal;
  --label-font-weight: 600;
  --label-line-height: 100%;
  /* label sizes */
  --label-small-font-size: 0.75rem;
  --label-medium-font-size: 1rem;
  --label-large-font-size: 1.125rem;
  --label-extra-large-font-size: 1.25rem;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
*NEW TYPOGRAPHY SETTINGS!!!
*/

body {
  color: var(--neutral-50);
  background-color: var(--neutral-900);
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Metal Mania", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background: var(--gradient-text-primary-04);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.125rem;
}

/* Body */
p {
  font-family: "Syne", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--neutral-50);
}
.p--high-emphasis {
  font-size: 1rem;
}
.p--moderate-emphasis {
  font-size: 0.875rem;
}
.p--low-emphasis {
  font-size: 0.75rem;
}

/* Label */
label,
.label {
  font-family: var(--label-font-family);
  font-style: var(--label-font-style);
  font-weight: var(--label-font-weight);
  line-height: var(--label-line-height);
  color: var(--neutral-50);
}
.label--high-emphasis {
  font-size: 1rem;
}
.label--moderate-emphasis {
  font-size: 0.875rem;
}
.label--low-emphasis {
  font-size: 0.75rem;
}

/* Title */
.title {
  font-family: "Syne", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.title--high-emphasis {
  font-size: 1.125rem;
}
.title--low-emphasis {
  font-size: 1rem;
}

link,
a {
  text-decoration: none;
}

li {
  list-style: none;
}

svg {
  width: 100%;
}

/*
*LAYOUT
*/

.content-wrapper {
  display: flex;
  width: 100%;
  padding: var(--margin-2x-mobile) var(--margin-mobile);
  flex-direction: column;
  align-items: center;
  gap: var(--margin-2x-mobile);
}

section {
  display: flex;
  padding: var(--margin-mobile) 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--margin-mobile);
  align-self: stretch;
}

article {
  display: flex;
  padding: var(--gutter-mobile) 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gutter-mobile);
  align-self: stretch;
}

.row {
  display: flex;
  align-items: center;
  gap: var(--gutter-mobile);
  flex: 1 0 0;
  align-self: stretch;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gutter-mobile);
  flex: 1 0 0;
  align-self: stretch;
}

.col > .btn {
  align-self: stretch;
}

.tile {
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--surface-01);
  backdrop-filter: blur(21px);
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--gutter-mobile);
}

/*
*Logo & Icons
*/

.logo {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  background: url("../public/Images/Logo/small.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fas,
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.fas,
.icon--small {
  width: 1.5rem;
  height: 1.5rem;
}

.icon--big {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-tournament {
  background-image: url("../public/Images/Icons/tabler_tournament.svg");
}

.icon-wand {
  background-image: url("../public/Images/Icons/mdi_wand.svg");
}

.icon-wizard-hat {
  background-image: url("../public/Images/Icons/mdi_wizard-hat.svg");
}

.icon-reward {
  background-image: url("../public/Images/Icons/material-symbols_rewarded-ads.svg");
}

.icon-button {
  display: inline-flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  background: transparent;
  backdrop-filter: blur(0px);
  transition: all 0.2s ease-in-out;
}

.icon-button:hover {
  background: var(--surface-03);
  backdrop-filter: blur(21px);
}

.fas-01,
.link-01,
.link-secondary-01:hover {
  color: var(--primary-01-50);
}

.fas-02,
.link-02,
.link-secondary-02:hover {
  color: var(--primary-02-50);
}

.fas-03,
.link-03,
.link-secondary-03:hover {
  color: var(--primary-03-50);
}

.fas-04,
.link-04,
.link-secondary-04:hover {
  color: var(--primary-04-50);
}

.fas-01:hover,
.link-01:hover,
.link-secondary-01 {
  color: var(--primary-01-400);
}

.fas-02:hover,
.link-02:hover,
.link-secondary-02 {
  color: var(--primary-02-400);
}

.fas-03:hover,
.link-03:hover,
.link-secondary-03 {
  color: var(--primary-03-400);
}

.fas-04:hover,
.link-04:hover,
.link-secondary-04 {
  color: var(--primary-04-400);
}

/*
*Media
*/

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: var(--border-radius-medium);
}

.event-image-01 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_01.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-02 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_02.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-03 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_03.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-04 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_04.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-05 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_05.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-06 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_06.jpeg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-07 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_07.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-08 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_08.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-09 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_09.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-image-10 {
  background: linear-gradient(
      180deg,
      rgba(36, 38, 45, 0.03) 0%,
      rgba(20, 21, 25, 0.66) 91.77%
    ),
    url("../public/Images/Events/event_10.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* breakpoints (min-width) used throughout the website
*tablet: 768px;
*desktop: 992px;
*desktop-large: 1200px;
*/

@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: var(--margin-2x-tablet) var(--margin-tablet);
    gap: var(--margin-2x-tablet);
  }

  section {
    padding: var(--margin-tablet) 0rem;
    gap: var(--margin-tablet);
  }

  article {
    padding: var(--gutter-tablet) 0rem;
    gap: var(--gutter-tablet);
  }

  .row {
    gap: var(--gutter-tablet);
  }

  .col {
    gap: var(--gutter-tablet);
  }

  .col > .btn {
    align-self: center;
  }

  .section-heading {
    gap: var(--gutter-tablet);
  }

  .section-heading > h2 {
    max-width: 50%;
  }

  .icon--big {
    width: 5.5rem;
    height: 5.5rem;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5.75rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.25rem;
  }
  h5 {
    font-size: 1.875rem;
  }
  h6 {
    font-size: 1.25rem;
  }
  .p--high-emphasis {
    font-size: 1.5rem;
  }
  .p--moderate-emphasis {
    font-size: 1.25rem;
  }
  .p--low-emphasis {
    font-size: 1.125rem;
  }
  .label--high-emphasis {
    font-size: 1.5rem;
  }
  .label--moderate-emphasis {
    font-size: 1.25rem;
  }
  .label--low-emphasis {
    font-size: 1.125rem;
  }
  .title--high-emphasis {
    font-size: 2.25rem;
  }
  .title--low-emphasis {
    font-size: 1.875rem;
  }

  .content-wrapper {
    padding: var(--margin-2x-desktop) var(--margin-desktop);
    gap: var(--margin-2x-desktop);
  }

  section {
    padding: var(--margin-desktop) 0rem;
    gap: var(--margin-desktop);
  }

  article {
    padding: var(--gutter-desktop) 0rem;
    gap: var(--gutter-desktop);
  }

  .row {
    gap: var(--gutter-desktop);
  }

  .col {
    gap: var(--gutter-desktop);
  }

  .section-heading {
    gap: var(--gutter-desktop);
  }

  .logo {
    width: 12rem;
    height: 2.5rem;
    background: url("../public/Images/Logo/large.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon--big {
    width: 7rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: var(--margin-2x-desktop-large) var(--margin-desktop-large);
    gap: var(--margin-2x-desktop-large);
  }

  section {
    padding: var(--margin-desktop-large) 0rem;
    gap: var(--margin-desktop-large);
  }

  article {
    padding: var(--gutter-desktop-large) 0rem;
    gap: var(--gutter-desktop-large);
  }

  .row {
    gap: var(--gutter-desktop-large);
  }

  .col {
    gap: var(--gutter-desktop-large);
  }

  .section-heading {
    gap: var(--gutter-desktop-large);
  }

  .logo {
    width: 16rem;
    height: 4rem;
    background: url("../public/Images/Logo/extraLarge.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon--big {
    width: 8.5rem;
    height: 8.5rem;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/*
*GRADIENT BORDER
*/

/* base */
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
}

/* color neutral */
.border-gradient--00 {
  border-image-source: var(--gradient-text-neutral);
}

/* color 01 */
.border-gradient--01 {
  border-image-source: var(--gradient-text-primary-01);
}

/* color 02 */
.border-gradient--02 {
  border-image-source: var(--gradient-text-primary-02);
}

/* color 03 */
.border-gradient--03 {
  border-image-source: var(--gradient-text-primary-03);
}

/* color 04 */
.border-gradient--04 {
  border-image-source: var(--gradient-text-primary-04);
}

/* position bottom */
.border-gradient--only-bottom {
  border-radius: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

/* position right */
.border-gradient--only-right {
  border-radius: none;
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
}

/* position left */
.border-gradient--only-left {
  border-radius: none;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
}

/* position left and right */
.border-gradient--left-and-right {
  border-radius: none;
  border-bottom: 0;
  border-top: 0;
}

.divider {
  height: 0.0625rem;
  align-self: stretch;
  border-radius: var(--border-radius-base);
  background: var(--gradient-text-primary-04);
}
